html, p {
  font-family: 'News Cycle', sans-serif;
  list-style: none;
}
.container {
  margin: 20px auto;
  width: 560px;
  padding: 0px 20px 20px 20px;
  border: 2px solid #926f58 ;
  border-radius: 15px;
  box-shadow: 10px 10px 5px #926f58 ;
  text-align: center;
}


nav {
  border-radius: 5px;
  font-family: 'News Cycle', sans-serif;
  width: 100%;
  float: left;
  margin: 0 0 3em 0;
  padding: 5px;
  list-style: none;
  text-align: center;
}

h1 {
  color: #d89f9f;
  font-family: 'Great Vibes', cursive;
  font-size: 80px;
  text-align: center;
}


button {
  border-radius: 5px;
  color: #dbf2ea;
  font-family: 'News Cycle', sans-serif;
  background-color: #926f58;
}

/* unvisited link */
a:link {
  color: #d89f9f;
  text-decoration: none;
}

/* visited link */
a:visited {
  color: #dbf2ea;
}

/* mouse over link */
a:hover {
  color: #ffece4;
}

/* selected link */
a:active {
  color: #926f58;
}

li {
  list-style: none;
}
