<p>Welcome to your favorite movie tracking web app~</p>

<div id="get-new-movie-form">
  <button type="submit">Find A Movie</button>
</div>

<div id="show-new-search">
</div>
  <HR>
<div id="display-search-results">
</div>
